<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <h1>Create Team</h1>
     <form method="POST" action="/team">
      <label name="name">Team Name:</label>
      <input type="text" name="name"><br>
      <label name="coach">Coach:</label>
      <input type="text" name="coach"><br>
      <label name="pg">Point Guard:</label>
      <input type="text" name="pg"><br>
      <label name="sg">Shooting Guard:</label>
      <input type="text" name="sg"><br>
      <label name="sf">Small Forward:</label>
      <input type="text" name="sf"><br>
      <label name="pf">Power Forward:</label>
      <input type="text" name="pf"><br>
      <label name="c">Center:</label>
      <input type="text" name="c"><br>
      <input type="submit" value="Submit">
    </form>
 </body>
</html>


