<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <% @team_data.each do |key, value| %>
      <% if key == "Team Name:"%>
        <h1>Team Name: <%= value%>
      <% else %>
        <h2><%= key%> <%= value%></h2>
      <% end %>
    <% end %>
 </body>
</html>


